# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# IDE
.vscode/

# Except Dependent Libraries
!SDL2.dll
!SDL2_image.dll

!libSDL2_image.a
!libSDL2_image.dll.a
!libSDL2_image.la
!libSDL2_test.a
!libSDL2_test.la
!libSDL2.a
!libSDL2.dll.a
!libSDL2.la
!libSDL2main.a
!libSDL2main.la

